<!DOCTYPE html>
<html lang="es" ng-app="load_control">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      var urlBase = "<%="#{request.protocol}#{request.host_with_port}"%>";
    </script>
  </head>

  <body>
      <!-- Small Navigation -->
  <div class="title-bar" data-responsive-toggle="nav-menu" data-hide-for="medium">
    <a class="logo-small show-for-small-only" href="#"><img src="logo_400.png" /></a>
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <!-- Medium-Up Navigation -->
  <nav class="top-bar" id="nav-menu">

    <div class="logo-wrapper hide-for-small-only">
      <div class="logo">
        <img src="logo_400.png">
      </div>
    </div>
  </nav>

    <div class="row">
      <%= yield %>
    </div>

  </body>
</html>
